/* The side navigation menu */
.sidebar {
  margin: 0 !important;
  padding: 0 !important;
  width: 15% !important;
  font-family: "Roboto", sans-serif;
/*  background-color: #F1B545 !important; */
  color: #2B383E !important;
  position: fixed !important;
  height: 100% !important;
  overflow: auto !important;
  display: inline-block !important;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.Select--single>.Select-control .Select-value, .Select-placeholder 
{
}

.sidebar-first-item {
    background-color: #F1B545 !important;
}

.sidebar-first-item>label {
    padding-top: 0.3em;
    padding-left: 0.5em;
    margin-bottom: 0;
}

.sidebar-first-item .Select-control, .sidebar-first-item .Select-control .Select-multi-value-wrapper .Select-input {
    background-color: #F1B545 !important;
    color: grey;
    font-weight: bold;
    height: 2rem !important;
    margin-top: 0;
    padding-top: 0;
    border-radius: 0px;
    border: none;
}

.sidebar-item {
    height: 2rem;
    margin: 1rem 1rem;
}

.sidebar-item>label {
    height: 1.5rem;
}

.sidebar-item>button {
    height: 2rem;
    padding-top: 0;
    outline: none;
}

.sidebar-first-item .Select-menu-outer {
    background-color: #F1B545 !important;
}

.sidebar-dropdown>label>input[type=checkbox] {
    float: right;
    vertical-align: bottom;
    /*
    margin-right: 1rem !important;
    margin-top: 0.6rem;
    */
}

.sidebar-dropdown>label>input[type=radio] {
    float: right;
    vertical-align: bottom;
    /*
    margin-right: 1rem !important;
    margin-top: 0.6rem;
    */
}

.sidebar-dropdown>label {
    padding-left: 1.5rem;
    margin-top: 0.5rem;
    overflow: hidden;
    display: block;
    font-size: small;
}

.sidebar-dropdown {
}

.accordion .card {
    border-radius: 0;
    border-right: 0;
}

.sidebar-bottom {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    bottom: 0 !important;
}

.sidebar-bottom  .btn {
    border-radius: 0;
    background-repeat: no-repeat;
    height: 2rem;
    font-size: Medium;
    margin: 0 !important;
    width: -moz-fit-content;
    width: fit-content;
}

.sidebar-bottom  #info-button {
    background-image: url("/dashboard/assets/images/Icon_Info.png");
    background-position: center;
    width: 80%;
}

.sidebar-bottom  #download-button {
    background-image: url("/dashboard/assets/images/Icon_Download.png");
    background-position: 1rem;
    padding-left: 2rem;
    width: 100%;
}

.collapsible-cards {
    margin: 0 !important;
}
.collapsible-cards .col {
    margin: 0 !important;
    padding: 0 !important;
}
.collapsible-cards .col .collapse .card {
    margin: 0 !important;
    padding: 0 !important;
    border: none;
}
.collapsible-cards .col .collapse .card .card-body {
    height: 25vh !important;
    overflow: auto;
    font-size: Small;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.tab-parent {
  margin-left: 15% !important;
  height: 100% !important;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
