/* The side navigation menu */
.sidebar {
  margin: 0 !important;
  padding: 0 !important;
  width: 240px !important;
  font-family: Roboto Medium;
/*  background-color: #F1B545 !important; */
  color: #2B383E !important;
  position: fixed !important;
  height: 100% !important;
  overflow: auto !important;
  display: inline-block !important;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.Select--single>.Select-control .Select-value, .Select-placeholder 
{
}

.sidebar-first-item {
    background-color: #F1B545 !important;
}

.sidebar-first-item>label {
    padding-top: 0.3em;
    padding-left: 0.5em;
    margin-bottom: 0;
}

.sidebar-first-item .Select-control, .sidebar-first-item .Select-control .Select-multi-value-wrapper .Select-input {
    background-color: #F1B545 !important;
    color: grey;
    font-weight: bold;
    height: 35px !important;
    margin-top: 0;
    padding-top: 0;
    border-radius: 0px;
    border: none;
}

.sidebar-item {
    height: 40px;
    margin: 1rem 1rem;
}

.sidebar-item>label {
    height: 40px;
}

.sidebar-item>summary {
    height: 40px;
    padding-top: 10px;
}

.sidebar-first-item .Select-menu-outer {
    background-color: #F1B545 !important;
}

#model-dropdown>label>input[type=checkbox] {
    float: right;
    margin-right: 1em !important;
    margin-top: 0.6em;
}

#model-dropdown>label {
    padding-left: 1.5em;
    display: block;
    overflow: hidden;
    line-height: 35px;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.tab-parent {
  margin-left: 240px !important;
  height: 100% !important;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
