.horizontal-menu {
    background-color: #2B383E !important;
    font-family: Roboto Medium;
    border-top: none !important;
    border-bottom: 3px solid white !important;
    color: white !important;
    padding-bottom: 1em !important;
    margin-bottom: 1em !important;
}

:hover .horizontal-menu, .horizontal-menu .tab--selected {
    color: #F1B545 !important;
    border-bottom: 3px solid #F1B545 !important;
    padding-bottom: 1em !important;
    margin-bottom: 1em !important;
}

#model-date-picker #date {
    background-color: #2B383E !important;
    border: none !important;
    font-family: Roboto Medium !important;
    font-size: 16px !important;
    color: #F1B545 !important;
    padding-left: 18px !important;
    text-transform: uppercase;
}

div.SingleDatePickerInput {
    border: none;
}

#slider-graph {
    width: 40em;
}

#btn-play {
    margin-bottom: 0.5em;
    border: none;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
}

#btn-play:hover {
    background-color: #F1B545 !important;
}

.linetool {
    display: table-cell;
    vertical-align: bottom;
}

.timeslider {
    position: relative;
    display: table-row;
    left: 1em;
    bottom: 6em;
    background-color: #2B383E !important;
}

*, ::after, ::before {
    box-sizing: content-box;
}

