a.modebar-btn {
    font-size: 2rem !important;
    margin: 1rem .2rem;
}

.modal-body>.dash-graph>.js-plotly-plot>.plot-container>.svg-container>.modebar-container>.modebar>.modebar-group>a.modebar-btn {
    font-size: 1.2rem !important;
    margin: .25rem .2rem;
}

.modal-body>.dash-graph>.js-plotly-plot>.plot-container>.svg-container>.modebar-container>.modebar {
    top: 0;
    margin-top: 0;
    padding-top: 0;
}

.tab-container {
    background-color: #2B383E !important;
    height: 3.8rem;
}

.tab-content {
    background-color: #F0F1F2;
    height: -moz-fit-content;
    height: 93.3vh !important;
    position: relative;
    bottom: 0;
    box-shadow: inset 5px 0px 5px lightgrey;
}

:hover.tab.horizontal-menu>span, .tab.horizontal-menu.tab--selected>span {
    color: #F1B545 !important;
    border-bottom: 4px solid #F1B545 !important;
    padding-bottom: 0.8rem !important;
}

.horizontal-menu {
    background-color: #2B383E !important;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border: none !important;
    color: white !important;
    padding-bottom: 0 !important;
    width: 136px !important;
}

#prob-graph, #was-graph {
    height: 92vh !important;
    bottom: 0;
}

#obs-vis-graph {
    height: 72vh !important;
    margin: 0 !important;
}

#obs-vis-graph .graph-with-slider {
    height: 80vh !important;
    margin: 0 !important;
    margin-top: 2rem !important;
}

#graph-eval-aeronet {
    padding: 0;
    margin: 0;
    height: 69vh !important;
    overflow: hidden;
}

#graph-eval-modis-obs, #graph-eval-modis-mod {
    padding: 0;
    margin: 0;
    height: 67vh !important;
    overflow: hidden;
}

#eval-tables {
    height: 58vh !important;
    overflow: auto;
}

.description-title>p {
  height: 35px;
  color: #2F4047;
  font-family: "Libre Baskerville";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 35px;
  margin: 1rem;
}

.description-body>p {
  /*height: 47px;*/
  opacity: 0.8;
  color: #2B383E;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  margin: .5rem 1rem;
}

.disclaimer>p, .disclaimer>span>p {
  opacity: 0.8;
  color: #2B383E;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: .5rem;
  margin-top: .1rem;
  bottom: .5rem;
  display: block;
}

.disclaimer>span#forecast-issued>p {
    float: left;
}
.disclaimer>span#forecast-disclaimer>p {
    float: right;
    margin-right: 2rem;
}

.layout-dropdown .disclaimer>p {
  margin: .3rem 0rem;
}

.btn-link {
  color: #2B383E;
  font-family: "Roboto", sans-serif !important;
}

#scores-apply, #scores-map-apply {
  background-color: #2B383E;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif !important;
  letter-spacing: 0;
  height: 36px;
  border: none;
  border-radius: 0;
  text-align: center;
}

button#scores-apply {
  width: 5rem;
}

button#scores-map-apply {
    background-image: url('/daily_dashboard/assets/images/map_icon.png');
    background-repeat: no-repeat;
    background-position: .5rem;
    text-align: right;
    width: 7.5rem;
}

#forecast-footer {
    display: table-row;
}

.timesliderline #date {
    color: #F1B545 !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.9rem 0rem 0.6rem 1.1rem;
    background-color: #2B383E !important;
    border: none !important;
    cursor: pointer;
}

.DateInput {
    vertical-align: baseline;
}

.DateInput_input {
    padding: 0;
    margin: 0;
    line-height: initial;
}

input.DateInput_input {
    margin-right: 0;
    padding-right: 0;
}

.DateInput_input:after {
      display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid;
    border-left: 0.3em solid transparent;
  /* display: inline-block;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Brands","Font Awesome 5 Free";
  font-size: 15px;
  font-weight: 900;
  font-style: normal;
  content: "\f107";
  float: right;
  color: grey;
  float: right;
  */
}

div.SingleDatePickerInput {
    border: none;
}

.SingleDatePicker_picker {
    top: 38px;
    z-index: 10001;
}

.SingleDatePicker_picker__portal {
    z-index: 10001;
}

#was-slider-graph, #prob-slider-graph, #obs-vis-slider-graph {
    width: 10rem;
    padding: 0.4rem 35px 25px !important;
}

#slider-graph, #obs-slider-graph, #obs-aod-slider-graph {
    padding: 0.4rem 25px 25px !important;
    width: 30rem;
}

#rgb-buttons {
    display: block;
    float: left;
    margin: 0.5rem;
    /* width: 1rem; */
}

#rgb-buttons .btn {
    display: block;
    width: 8rem;
    margin: 0.5rem;
    border-radius: 0;
    border: solid 3px #2B383E !important;
    background-color: #FFFFFF !important;
    color: #2B383E !important;
}

#rgb-buttons .btn:hover {
    background-color: #2B383E !important;
    color: #FFFFFF !important;
}

#rgb-buttons .active {
    background-color: #2B383E !important;
    color: #FFFFFF !important;
}


.centered-image {
    /* text-align: center !important;
    text-align: -moz-center !important; */
/*
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
*/
}	

.centered-image .layout-dropdown {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    bottom: 18px !important;
}

/*
.centered-image .timeslider {
    width: 100% !important;
}

*/ 
#rgb-image, #aod-image {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    bottom: 48px !important;
    position: relative;
    top: 1rem !important;
    width: 48%;
    max-width: 45rem;
    max-height: 45rem;
    margin-left: 27%;
    /* width: 35rem; */
}

.timesliderline>button {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    margin-right: 0.5rem;
    border: none !important;
    outline: none !important;
    color: #2B383E;
    background-color: #fff !important;
    display: inline-flex;
    padding: 9px 10px;
}

.timesliderline>button:hover {
    background-color: #F1B545 !important;
}

.timesliderline>button:focus {
    background-color: #FFFFFF !important;
}

.timesliderline>button::before {
}

.text-center {
    display: inline-block;
    text-align: center;
}

.anim-buttons {
    margin-left: 5px;
    padding: 0.4rem 0 0.4rem 0.4rem;
}

/*
.playbutton {
    background-image: url('/daily_dashboard/assets/images/Play.png');
    background-repeat: no-repeat;
    background-color: #2B383E;
}*/

#obs-dropdown, #obs-mod-dropdown {
    min-width: 12rem;
}

.linetool {
    display: table-cell;
    /* float: left; */
    padding: 1rem 0.5rem;
}

.linetool>label {
    font-size: Small;
    opacity: 0.8;
    color: #2B383E;
    font-family: "Roboto", sans-serif !important;
    margin-bottom: 0;
}

.linetool .Select-control {
    border-radius: 0; 
    border: none; 
}

.Select-menu-outer {
   z-index: 10000;
}

.linetool #eval-date-picker {
    display: block !important;
}

.linetool .dropdown>button {
    width: 9.5rem;
    text-align: left;
    border-radius: 0;
    border: none;
    color: #aaa;
    background-color: #fff;
}

.linetool .dropdown .show {
    padding-right: 1rem;
    padding-left: 1rem;
}

.linetool .DateInput {
    height: 36px;
    line-height: 36px !important;
}

.linetool .DateInput_input {
    line-height: 36px !important;
    border-bottom: none;
    padding-left: .5rem;
}

.linetool .DateRangePickerInput__withBorder {
    border: none;
    border-radius: 0;
}

.linetool .DateRangePickerInput_arrow {
    display: none;
}

.linetool .DateRangePicker_picker {
    z-index: 1000;
}

.CalendarDay__hovered_span, .CalendarDay__hovered_span:hover, .linetool .CalendarDay__selected_span {
    background: #D8A443;
    border: 1px double #D8A443;
    color: #2B383E;
}

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
    background: #F1B545;
    border: 1px double #F1B545;
    color: #2B383E;
}

.timesliderline {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    background-color: #2b383e;
}

.timeslider {
    position: absolute;
    background-color: transparent !important;
    height: 100%;
    /* width: 704px;
    height: 100%;
    padding: 0.2rem;
    background-color: #2b383e;*/
}

/* Position the parent of the timeslider */
.layout-dropdown {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    height: 48px;
    padding: 0 2rem;
}

.layout-dropdown .dropdown, .layout-dropdown .timeslider {
    z-index: 1002 !important;
}

.layout-dropdown #map-view-dropdown {
    position: absolute;
    left: 750px;
    bottom: 0;
    width: 122px;
    height: 100%;
}

.layout-dropdown #map-layers-dropdown {
    position: absolute;
    left: 880px;
    bottom: 0;
    width: 127px;
    height: 100%;
}

.btn-secondary {
    box-shadow: none !important;
    border: 0 !important;
}

.layout-dropdown #map-view-dropdown>button, .layout-dropdown #map-layers-dropdown>button {
    border-radius: 0 !important;
    background-color: #2B383E !important;
    background-repeat: no-repeat;
    background-position: 1rem;
    height: 1.75rem;
    text-align: right;
    margin-left: .5rem;
}

.layout-dropdown #map-view-dropdown>button {
    background-image: url('/daily_dashboard/assets/images/map_icon.png');
    width: 100%;
    height: 100%;
}

.layout-dropdown #map-layers-dropdown>button {
    background-image: url('/daily_dashboard/assets/images/layers_icon.png');
    width: 100%;
    height: 100%;
}

.layout-dropdown #map-view-dropdown .dropdown-menu  {
    min-width: 7.6rem;
}

.layout-dropdown #map-layers-dropdown .dropdown-menu  {
    min-width: 8rem;
}

.layout-dropdown .dropdown-menu {
    border-radius: 0 !important;
    background-color: #6C7B82;
    padding: 0;
    margin-top: 0;
}

.layout-dropdown .dropdown-item {
    text-align: center;
    text-transform: uppercase;
    font-size: smaller;
    color: #FFFFFF;
    padding: .25rem 0;
    border-top: 1px solid #9ea8ad;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #2B383E;
}
/* This targets the map in Forecast tab */
#div-collection {
    height: 93vh !important;
}

#graph-collection {
    height: 93vh !important;
    padding: 0 !important;
}

.info>p {
    margin-bottom: 0;
}

.popup-map-point {
}

.leaflet-container .leaflet-popup-content-wrapper {
    font: 12px "Roboto", sans-serif !important;
    border-radius: 5px !important;
    display: inline-flex !important;
}

.leaflet-popup-content {
    margin: 0.5rem 0 0.5rem 0.5rem !important;
    line-height: 1.6 !important;
}

.leaflet-popup-content {
    width: 14rem !important;
}

#graph-eval-aeronet .leaflet-popup-content {
    width: 11rem !important;
}

.leaflet-container .leaflet-popup-content {
    display: block;
}

.leaflet-container .leaflet-popup-content .popup-map-value {
    float: left;
    width: 4rem;
    height: 4rem;
    background-color: #2b383e;
    color: #ffffff;
    border-radius: 50%;
}

.leaflet-container .leaflet-popup-content .popup-map-value p {
    font: 16px "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 1.8;
    display: block;
    vertical-align: middle;
}

.leaflet-container .leaflet-popup-content-wrapper .popup-map-body {
    float: left;
    padding-left: 0.5rem !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.leaflet-container .leaflet-popup-content-wrapper .popup-map-eval-body {
    float: left;
    padding-left: 0.5rem;
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.popup-ts-button {
    background-color: #2b383e;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    padding: 0.2rem 0.5rem;
}

.leaflet-container a.leaflet-popup-close-button {
    background-color: #2b383e !important;
    color: #ffffff !important;
    padding: 0 ! important;
    margin: 0 ! important;
    border-radius: 50% !important;
    top: -9px !important;
    right: -9px !important;
    height: 18px !important;
    font: 22px "Roboto", sans-serif !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    line-height: 16px !important;

}

.leaflet-control-attribution {
    display: none;
}

.vis-legend-point {
    float: left;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.vis-legend-label {
}

.vis-legend {
    position: absolute;
    top: 60px;
    left: 15px;
    z-index: 10000;
}

/*
.graph-with-slider {
    height: 93vh !important; 
}

.dash-graph.graph-with-slider {
    height: 93vh !important;
}
*/

.eval-statistics-nav {
    display: flex;
    flex-flow: wrap;
    max-width: 94%;
    padding: 0.8rem 0 0 0.8rem;
}

.statistics-inputs {
    display: inline-flex;
    flex-flow: wrap;
}

.statistics-inputs .linetool {
    display: block !important; 
    float: none !important;
    padding: 0 !important;
    margin: 0.2rem;
}

.statistics-ctas {
    display: inline-flex;
    padding-top: 1.5rem;
}

.statistics-ctas .linetool { 
    display: block !important; 
    float: none !important;
    padding: 0 !important;
    margin: 0.2rem;
}

#login-modal .modal-content .modal-body>input,
#login-modal .modal-content .modal-body>button {
    margin: 0.5rem;
}


@media screen and (max-width: 1250px) {
    .layout-dropdown #map-view-dropdown {
        left: 24px;
        bottom: 120%;
        height: 80%;
    }

    .layout-dropdown #map-layers-dropdown {
        left: 156px;
        bottom: 120%;
        height: 80%;
    }

    #slider-graph, #obs-slider-graph, #obs-aod-slider-graph {
        
    }
}

@media screen and (max-width: 870px) {
    
    .tab.jsx-2137964197 {
        display: block !important;
        display: inline-block !important;
    }

    #forecast-tab, #evaluation-tab,  #observations-tab{
        display: block !important;
        display: inline-block !important;
    }

    .tab-container.jsx-4017309047 {
        display: flex !important;
        flex-flow: row !important;
    }
    
}
