
a.modebar-btn {
    font-size: 2rem !important;
    margin: 1rem .5rem;
}

#timeseries-modal>.js-plotly-plot>.plot-container>.svg-container>.modal-content>.modebar-container>.modebar>.modebar-group>a.modebar-btn {
    font-size: 1rem !important;
    margin: .5rem .25rem;
}

.tab-container {
    background-color: #2B383E !important;
    height: 3.8rem;
}

.tab-content {
    background-color: #F0F1F2;
    height: 93vh !important;
    box-shadow: inset 5px 0px 5px lightgrey;
    bottom: 0 !important;
}

:hover.tab.horizontal-menu>span, .tab.horizontal-menu.tab--selected>span {
    color: #F1B545 !important;
    border-bottom: 4px solid #F1B545 !important;
    padding-bottom: 0.8rem !important;
}

.horizontal-menu {
    background-color: #2B383E !important;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border: 2px solid #2B383E !important;
    color: white !important;
    padding-bottom: 0.8rem !important;
    width: calc(100%/8) !important;
}

.graph-with-slider {
}

#graph-collection {
    padding: 0;
    margin: 0;
    height: 93vh !important;
}

#prob-graph, #was-graph {
    height: 91vh !important;
}

#obs-vis-graph {
    height: 70vh !important;
}

#obs-vis-graph .graph-with-slider {
    height: 75vh !important;
}

#graph-eval-aeronet, #graph-eval-modis-obs, #graph-eval-modis-mod {
    padding: 0;
    margin: 0;
    height: 70vh !important;
}

#eval-tables {
    height: 60vh !important;
    overflow: auto;
}

/*
#graph-collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 94px;
    grid-gap: 20px;
    width: 100%;
    height: 100%;
}

.graph-model {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
*/

.description-title>p {
  height: 35px;
  color: #2F4047;
  font-family: "Libre Baskerville";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 35px;
  margin: 1rem;
}

.description-body>p {
  height: 47px;
  opacity: 0.8;
  color: #2B383E;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  margin: .5rem 1rem;
}

.btn-link {
  color: #2B383E;
  font-family: "Roboto", sans-serif !important;
}

#models-apply {
  background-color: #2B383E;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif !important;
  letter-spacing: 0;
  height: 2rem;
  border: none;
  width: 5rem;
  text-align: center;
  float: right;
}

span>#models-apply {
  margin-bottom: 1.5rem;
}

#scores-apply {
  background-color: #2B383E;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif !important;
  letter-spacing: 0;
  height: 2rem;
}

#forecast-footer {
    display: table-row;
}

.timesliderline #date {
    color: #F1B545 !important;
    background-color: #2B383E !important;
    border: none !important;
    font-family: "Roboto", sans-serif !important;
    font-size: medium !important;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 0.9rem;
    margin-right: 0;
}

.DateInput_input {
    padding: 0;
    margin: 0;
    line-height: initial;
}

input.DateInput_input {
    margin-right: 0;
    padding-right: 0;
}

div.SingleDatePickerInput {
    border: none;
}

#was-slider-graph, #prob-slider-graph, #obs-vis-slider-graph {
    width: 10rem;
}

#slider-graph, #obs-slider-graph, #obs-aod-slider-graph {
    width: 30rem;
}

#rgb-image, #aod-image {
    height: 65vh;
}

.timesliderline>button {
    margin: 0.4rem 0;
    border: none;
    padding: 0.2rem 0.6rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
}

.timesliderline>button:hover {
    background-color: #F1B545 !important;
}

.timesliderline>button:active, .timesliderline>button:focus {
    background-color: #F1B545 !important;
    border: 0 !important;
}

#obs-dropdown, #obs-mod-dropdown {
    min-width: 12rem;
}

#rgb-buttons {
    display: block;
    float: left;
    margin: 1rem;
}

#rgb-buttons .btn {
    display: block;
    width: 8rem;
    margin: 0.5rem;
    border-radius: 0;
    border: solid 3px #2B383E !important;
    background-color: #FFFFFF !important;
    color: #2B383E !important;
}

#rgb-buttons .btn:hover {
    background-color: #2B383E !important;
    color: #FFFFFF !important;
}

#rgb-buttons .active {
    background-color: #2B383E !important;
    color: #FFFFFF !important;
}

.linetool {
    display: table-cell;
    vertical-align: bottom;
    padding: 1rem;
}

.linetool>label {
    font-size: Small;
    opacity: 0.8;
    color: #2B383E;
    font-family: "Roboto", sans-serif !important;
    margin-bottom: 0;
}

.linetool .Select-control {
    border-radius: 0; 
    border: none; 
}

.linetool .DateInput {
    height: 36px;
    line-height: 36px !important;
}

.linetool .DateInput_input {
    line-height: 36px !important;
    border-bottom: none;
    padding-left: .5rem;
}

.linetool .DateRangePickerInput__withBorder {
    border: none;
    border-radius: 0;
}

.linetool .DateRangePickerInput_arrow {
    display: none;
}

.linetool .CalendarDay__hovered_span, .CalendarDay__hovered_span:hover, .linetool .CalendarDay__selected_span {
    background: #D8A443;
    border: 1px double #D8A443;
    color: #2B383E;
}

.linetool .CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
    background: #F1B545;
    border: 1px double #F1B545;
    color: #2B383E;
}

.timesliderline {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}

.timeslider {
    display: table-cell;
    position: absolute;
    height: 2.5rem;
    /*
    height: 50px;
    display: table-row;
    left: 0.4rem;
    bottom: 3.5rem;
    color: #F1B545 !important;*/
    background-color: #2B383E !important;
    bottom: 1.5rem !important;
    margin-left: 1rem;
}

.layout-dropdown .dropdown {
    z-index: 1002;
}

.layout-dropdown #map-view-dropdown {
    margin-left: 44rem;
    display: table-cell;
    position: absolute;
    bottom: 1.5rem !important;
}

.layout-dropdown #map-layers-dropdown {
    margin-left: 53rem;
    display: table-cell;
    position: absolute;
    bottom: 1.5rem !important;
}

.btn-secondary {
    box-shadow: none !important;
    border: 0 !important;
}

.layout-dropdown #map-view-dropdown>button, .layout-dropdown #map-layers-dropdown>button {
    border-radius: 0 !important;
    background-color: #2B383E !important;
    height: 1.75rem;
    background-repeat: no-repeat;
    background-position: 1rem;
    text-align: right;
    margin-left: .5rem;
}

.layout-dropdown #map-view-dropdown>button {
    background-image: url('/dashboard/assets/images/map_icon.png');
    width: 6rem;
    padding-right: 1rem;
}

.layout-dropdown #map-layers-dropdown>button {
    background-image: url('/dashboard/assets/images/layers_icon.png');
    width: 6.6rem;
}

.layout-dropdown #map-view-dropdown .dropdown-menu  {
    min-width: 7.6rem;
}

.layout-dropdown #map-layers-dropdown .dropdown-menu  {
    min-width: 8rem;
}

.layout-dropdown .dropdown-menu {
    border-radius: 0 !important;
    background-color: #6C7B82;
    padding: 0;
    margin-top: 0;
}

.layout-dropdown .dropdown-item {
    text-align: center;
    text-transform: uppercase;
    font-size: smaller;
    color: #FFFFFF;
    padding: .25rem 0;
    border-bottom: 1px solid #ffffff;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #2B383E;
}
/*
.js-plotly-plot {
    height: 90vh !important;
}*/

/*
*[data-dash-is-loading="true"]{
    visibility: hidden;
}

*[data-dash-is-loading="true"]::before{
    content: "Loading...";
    display: inline-block;
    color: magenta;
    visibility: visible;
}
*/

*, ::after, ::before {
    box-sizing: content-box;
}
