.tab-container {
    background-color: #2B383E !important;
    height: 3.8rem;
}

:hover.tab.horizontal-menu>span, .tab.horizontal-menu.tab--selected>span {
    color: #F1B545 !important;
    border-bottom: 4px solid #F1B545 !important;
    padding-bottom: 0.8rem !important;
}

.horizontal-menu {
    background-color: #2B383E !important;
    font-family: Roboto Medium;
    font-weight: bold;
    border: 2px solid #2B383E !important;
    color: white !important;
    padding-bottom: 0.8rem !important;
    width: calc(100%/8) !important;
}

#graph-collection {
    padding: 0px;
    height: 85vh !important;
}

#graph-eval {
    padding: 0px;
    height: 80vh !important;
}
/*
#graph-collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 94px;
    grid-gap: 20px;
    width: 100%;
    height: 100%;
}

.graph-model {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
*/

#was-date-picker #date {
    color: #F1B545 !important;
    background-color: #2B383E !important;
    border: none !important;
    font-family: Roboto Medium !important;
    font-size: small !important;
    text-transform: uppercase;
    padding: 0.9rem;
    margin-right: 0;
}

#model-date-picker #date {
    color: #F1B545 !important;
    background-color: #2B383E !important;
    border: none !important;
    font-family: Roboto Medium !important;
    font-size: small !important;
    text-transform: uppercase;
    padding: 0.9rem;
    margin-right: 0;
}

.DateInput_input {
    padding: 0;
    margin: 0;
    line-height: initial;
}

input.DateInput_input {
    margin-right: 0;
    padding-right: 0;
}

div.SingleDatePickerInput {
    border: none;
}

#was-slider-graph {
    width: 10rem;
}

#slider-graph {
    width: 30rem;
}

#btn-play {
    margin: 0.4rem 0;
    border: none;
    padding: 0.2rem 0.6rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
}

#btn-play:hover {
    background-color: #F1B545 !important;
}

.linetool {
    display: table-cell;
    vertical-align: bottom;
    margin-top: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    /*width: calc(50%/2);*/
}

.timesliderline {
    display: table-cell;
    vertical-align: bottom;
    margin: 0;
}

#layout-dropdown {
    background-color: #2B383E !important;
}

#layout-dropdown>button {
    width: 8rem;
    height: 1rem;
    vertical-align: super;
    margin: 0.2rem 0.4rem;
    color: #F1B545 !important;
}

#layout-dropdown .dropdown-menu>button {
    width: 7rem;
}

.timeslider {
    position: relative;
    display: table-row;
    left: 0.4rem;
    bottom: 3.5rem;
    color: #F1B545 !important;
    background-color: #2B383E !important;
}

/*
*[data-dash-is-loading="true"]{
    visibility: hidden;
}

*[data-dash-is-loading="true"]::before{
    content: "Loading...";
    display: inline-block;
    color: magenta;
    visibility: visible;
}
*/

*, ::after, ::before {
    box-sizing: content-box;
}
